.MuiButton-label-17 {
  color: #78DCE8;
}

.MuiDataGrid-columnHeaderTitle {
  color: #FFD866;
}

.MuiDataGrid-row.Mui-odd {
  background-color: #252525;
}

.MuiDataGrid-cell {
  text-transform: lowercase;
}